.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    /* background-color: #ffffff !important; */
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: 0.5s ease-in-out;
}

.non-sitcky {
    position: fixed;
    top: 15px;
    left: 0;
}